<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>
    <div class="lol">
        <a href="/"> <img src="/images/lologo.png" alt="lol" width="175px" height="75px"> </a>
    </div>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="#news">Champion</a>
        <a href="/esports">Esports</a>
    </div>

</body>
</html>
